@font-face {
  font-family: 'open_sansregular';
  src: url("font/opensans/opensans-regular-webfont.eot");
  src: url("font/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-regular-webfont.woff2") format("woff2"), url("font/opensans/opensans-regular-webfont.woff") format("woff"), url("font/opensans/opensans-regular-webfont.ttf") format("truetype"), url("font/opensans/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight_italic';
  src: url("font/opensans/opensans-lightitalic-webfont.eot");
  src: url("font/opensans/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-lightitalic-webfont.woff2") format("woff2"), url("font/opensans/opensans-lightitalic-webfont.woff") format("woff"), url("font/opensans/opensans-lightitalic-webfont.ttf") format("truetype"), url("font/opensans/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("font/opensans/opensans-semibolditalic-webfont.eot");
  src: url("font/opensans/opensans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-semibolditalic-webfont.woff2") format("woff2"), url("font/opensans/opensans-semibolditalic-webfont.woff") format("woff"), url("font/opensans/opensans-semibolditalic-webfont.ttf") format("truetype"), url("font/opensans/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("font/opensans/opensans-extrabold-webfont.eot");
  src: url("font/opensans/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-extrabold-webfont.woff2") format("woff2"), url("font/opensans/opensans-extrabold-webfont.woff") format("woff"), url("font/opensans/opensans-extrabold-webfont.ttf") format("truetype"), url("font/opensans/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("font/opensans/opensans-semibold-webfont.eot");
  src: url("font/opensans/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-semibold-webfont.woff2") format("woff2"), url("font/opensans/opensans-semibold-webfont.woff") format("woff"), url("font/opensans/opensans-semibold-webfont.ttf") format("truetype"), url("font/opensans/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("opensans-extrabolditalic-webfont.eot");
  src: url("opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-extrabolditalic-webfont.woff2") format("woff2"), url("opensans-extrabolditalic-webfont.woff") format("woff"), url("opensans-extrabolditalic-webfont.ttf") format("truetype"), url("opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold_italic';
  src: url("font/opensans/opensans-bolditalic-webfont.eot");
  src: url("font/opensans/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-bolditalic-webfont.woff2") format("woff2"), url("font/opensans/opensans-bolditalic-webfont.woff") format("woff"), url("font/opensans/opensans-bolditalic-webfont.ttf") format("truetype"), url("font/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold';
  src: url("font/opensans/opensans-bold-webfont.eot");
  src: url("font/opensans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-bold-webfont.woff2") format("woff2"), url("font/opensans/opensans-bold-webfont.woff") format("woff"), url("font/opensans/opensans-bold-webfont.ttf") format("truetype"), url("font/opensans/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansitalic';
  src: url("font/opensans/opensans-italic-webfont.eot");
  src: url("font/opensans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-italic-webfont.woff2") format("woff2"), url("font/opensans/opensans-italic-webfont.woff") format("woff"), url("font/opensans/opensans-italic-webfont.ttf") format("truetype"), url("font/opensans/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("font/opensans/opensans-light-webfont.eot");
  src: url("font/opensans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans/opensans-light-webfont.woff2") format("woff2"), url("font/opensans/opensans-light-webfont.woff") format("woff"), url("font/opensans/opensans-light-webfont.ttf") format("truetype"), url("font/opensans/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* LAYOUT */
/* COLORS */
/* FONT */
/* MIXINS */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, header, section, footer, aside, article, h1, h2, h3, h4, h5, h6,
div, p, a, span, ul, ol, li, table, td, tr, th, thead, tbody, iframe {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: black;
  text-decoration: none; }

input, textarea, select {
  font-family: inherit; }

html {
  font-size: 10px; }

body {
  background-color: #e4e4e4;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  position: relative;
  left: 0;
  color: #3e3e3e;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  body.menu-open {
    left: 24.5rem; }

a {
  color: #3e3e3e; }

.container {
  max-width: 120rem;
  margin: auto; }

.wrapper-width.site-header {
  background-color: #175da3; }

header#site-header {
  max-width: 120rem;
  margin: auto;
  position: relative;
  width: 100%;
  height: 8.7rem;
  text-align: center; }
  header#site-header #main-logo {
    display: block;
    width: 25.2rem;
    position: absolute;
    left: 0;
    top: 1.6rem;
    right: 0;
    margin: auto; }
    header#site-header #main-logo img {
      width: 100%;
      height: auto; }
  header#site-header .main-nav {
    margin-top: 2.4rem;
    text-align: left; }
    header#site-header .main-nav.left {
      float: left; }
    header#site-header .main-nav.right {
      float: right; }
    header#site-header .main-nav li {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 0.4rem; }
    header#site-header .main-nav .menu-toggle {
      display: block;
      height: 3.5rem;
      line-height: 3.3rem;
      font-size: 4.4rem;
      color: #fff; }
    header#site-header .main-nav .btn {
      font-size: 1.4rem;
      display: block;
      padding: 0 1.2rem;
      color: #175da3;
      height: 3.5rem;
      line-height: 3.3rem;
      border-radius: 0.3rem;
      background-color: #fff; }
    header#site-header .main-nav .log-btn {
      background-color: #1293f1;
      color: #fff;
      font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif; }
    header#site-header .main-nav .search {
      text-indent: -999rem;
      background-image: url(../img/zoom-icone.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2rem 1.7rem;
      padding: 0;
      width: 3.5rem; }
    header#site-header .main-nav .add-btn {
      font-family: "open_sansbold", "open_sansregular", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 1.2rem;
      background-image: url(../img/plus-icone.png);
      background-repeat: no-repeat;
      background-position: 0.6rem center;
      background-size: 1.8rem 1.8rem;
      padding-left: 2.9rem; }

.page-index .wrapper-width.home-ban {
  background-image: url(../img/bg-home.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -5rem;
  position: relative; }
  .page-index .wrapper-width.home-ban:after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
.page-index #home-ban {
  position: relative;
  z-index: 3;
  height: 33.6rem;
  color: #fff;
  max-width: 120rem;
  margin: auto;
  padding: 2rem 0;
  text-align: center; }
  .page-index #home-ban span {
    display: block;
    text-align: center; }
  .page-index #home-ban .top {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 3rem 0 2rem 0; }
  .page-index #home-ban .middle {
    font-size: 4rem;
    margin-bottom: 0.5rem; }
  .page-index #home-ban .bottom {
    font-size: 2.9rem; }
  .page-index #home-ban .btn.big.register {
    margin-top: 3.8rem;
    background-color: #1293f1;
    display: inline-block;
    font-size: 2.3rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.4rem 0 #003662;
    box-shadow: 0 0.4rem 0 #003662; }

.page-login, .style-login {
  background-color: white; }
  .page-login .container, .style-login .container {
    overflow: hidden;
    padding: 5rem 0; }
  .page-login .illustration, .style-login .illustration {
    float: left;
    width: 63.7rem;
    height: 46rem;
    background-image: url(../img/bg-login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 63.7rem auto; }
  .page-login section, .style-login section {
    float: right;
    width: 27.2rem;
    margin-right: 10rem;
    margin-top: 2rem; }
    .page-login section h3, .style-login section h3 {
      color: #175da3;
      font-size: 2.3rem;
      margin-bottom: 1rem; }
    .page-login section form, .style-login section form {
      width: 16.5rem; }
      .page-login section form label, .style-login section form label {
        color: #565656;
        font-size: 1.5rem; }
      .page-login section form input[type="text"], .page-login section form input[type="email"], .page-login section form input[type="password"], .style-login section form input[type="text"], .style-login section form input[type="email"], .style-login section form input[type="password"] {
        width: 100%;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: .3rem;
        color: #666;
        height: 2.8rem;
        padding: .3rem; }
      .page-login section form #remember_me, .style-login section form #remember_me {
        width: auto;
        margin: 0; }
    .page-login section .btn, .style-login section .btn {
      background-color: #1293f1;
      border-radius: 0.4rem;
      border: 0;
      padding: 1rem;
      color: white;
      font-size: 1.5rem;
      margin: 1rem 0;
      display: inline-block;
      cursor: pointer; }
    .page-login section .link-forgot-password, .style-login section .link-forgot-password {
      display: block;
      color: #1293f1;
      margin-bottom: 3rem; }

.container.container-lists {
  font-size: 0; }
  .container.container-lists .column-container {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem; }
    .container.container-lists .column-container.full {
      width: 100%; }
    .container.container-lists .column-container.right {
      float: right; }
  .container.container-lists .index-menu {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 0; }
    .container.container-lists .index-menu .tab {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      text-align: center; }
      .container.container-lists .index-menu .tab a {
        position: relative;
        display: block;
        padding: 2.3rem 1rem 1.7rem 1rem;
        font-size: 2.2rem;
        font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
        color: #818181; }
        .container.container-lists .index-menu .tab a:before {
          display: none;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1rem;
          background-color: #175da3; }
      .container.container-lists .index-menu .tab.active a, .container.container-lists .index-menu .tab:hover a {
        color: #175da3; }
      .container.container-lists .index-menu .tab.active a:before, .container.container-lists .index-menu .tab:hover a:before {
        display: block; }
  .container.container-lists .more-posts {
    background-color: #f6f6f6;
    position: relative;
    top: -1px;
    border: 1px solid #bcbcbc; }
    .container.container-lists .more-posts a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      text-align: center; }
      .container.container-lists .more-posts a:after {
        content: "";
        width: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        height: .9rem;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-size: 1.5rem auto;
        background-position: center; }

.container.container-lists .full.column-container .ajax-wrapper {
  font-size: 0; }
.container.container-lists .full.column-container .list-view {
  font-size: 1.6rem;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #e4e4e4; }
  .container.container-lists .full.column-container .list-view:nth-of-type(even) {
    border-right: none;
    float: right; }
  .container.container-lists .full.column-container .list-view:nth-of-type(odd) {
    border-left: none; }

.list-view {
  position: relative;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  padding: 2rem; }
  .list-view:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .9rem;
    height: 8rem;
    background-color: #175da3; }
  .list-view .content {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    height: 9rem; }
  .list-view .details {
    font-size: 1.3rem;
    color: #175da3; }
    .list-view .details .post-date {
      color: #9f9f9f; }
    .list-view .details a {
      color: #175da3; }
  .list-view table {
    width: 100%; }
    .list-view table td {
      vertical-align: top; }
  .list-view .right {
    text-align: right; }
    .list-view .right img {
      width: 9rem;
      height: 9rem;
      border-radius: 0.3rem;
      margin-left: 2rem; }
  .list-view .actions-btn {
    margin-top: 1.8rem; }
    .list-view .actions-btn .vote-btn {
      margin: 0;
      margin-right: .5rem;
      border: 1px solid #175da3;
      font-family: "open_sansregular", Arial, Helvetica, sans-serif;
      color: #175da3;
      font-size: 1.2rem;
      display: inline-block;
      padding: .5rem 1rem;
      border-radius: .4rem; }
      .list-view .actions-btn .vote-btn:hover {
        color: #fff;
        background: #175da3; }
    .list-view .actions-btn a {
      margin: .7rem; }
    .list-view .actions-btn .comments {
      color: #747474;
      font-size: 1.1rem;
      padding-left: 2.2rem;
      background-image: url(../img/bubble-icone.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.9rem auto;
      line-height: 3.5rem; }
    .list-view .actions-btn .share {
      padding-left: 1.7rem;
      background-image: url(../img/share-icone.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.7rem auto; }
    .list-view .actions-btn .readmore {
      float: right;
      text-decoration: underline;
      font-size: 1.5rem; }

.pop-up-wrapper {
  display: none; }
  .pop-up-wrapper.visible {
    display: block; }

.popup-arrow {
  display: block;
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  background-image: url(../img/arrowtop-login.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 6;
  background-size: 100%; }

.yeomi-popup {
  background-color: white;
  position: absolute;
  z-index: 5;
  padding: 1rem 5rem;
  border: 1px solid #c1c1c1;
  border-radius: .6rem;
  color: #6a6a6a;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3); }

.login-popup {
  width: 60rem;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3); }
  .login-popup a {
    color: #6a6a6a; }
  .login-popup h3 {
    font-family: "open_sanslight", "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    text-align: center; }
  .login-popup .login-infos label {
    position: relative;
    border: 1px solid #c1c1c1;
    border-radius: .4rem;
    overflow: hidden;
    margin: 1.6rem 0;
    display: block;
    height: 5.8rem; }
    .login-popup .login-infos label.username {
      margin-bottom: 2.2rem; }
      .login-popup .login-infos label.username:before {
        background-image: url(../img/user-icone.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.1rem auto; }
    .login-popup .login-infos label:before {
      display: block;
      content: "";
      height: 100%;
      width: 5.8rem;
      position: absolute;
      left: 0;
      top: 0;
      border-right: 1px solid #c1c1c1; }
  .login-popup .login-infos input {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 3rem 0 8rem;
    color: #3e3e3e;
    font-size: 1.6rem; }
  .login-popup .remember-me {
    font-size: 1.4rem;
    float: left; }
    .login-popup .remember-me input {
      margin-right: .9rem; }
  .login-popup .submit-area {
    text-align: right;
    float: right; }
    .login-popup .submit-area a {
      margin-top: 1rem;
      font-size: 1.4rem;
      display: block; }
  .login-popup .login-noaccount {
    padding-top: 3.5rem;
    clear: both;
    text-align: center; }
    .login-popup .login-noaccount .popup-btn {
      margin: 1.4rem 0; }
  .login-popup .popup-btn {
    background-color: #175da3;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.8rem 1.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0 0.4rem 0 #003662;
    box-shadow: 0 0.4rem 0 #003662; }

.add-defi-popup, .add-histoire-popup {
  width: 50rem;
  padding: 1rem 8rem; }
  .add-defi-popup h3, .add-histoire-popup h3 {
    font-family: "open_sanslight", "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    text-align: center; }
  .add-defi-popup .post-body textarea, .add-histoire-popup .post-body textarea {
    margin-top: 1.6rem;
    width: 100%;
    height: 27rem;
    border: 1px solid #c1c1c1;
    resize: none;
    font-size: 1.5rem;
    border-radius: .4rem;
    padding: .8rem 1.5rem; }
  .add-defi-popup .post-category select, .add-histoire-popup .post-category select {
    margin-top: 1.6rem;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    background-color: transparent;
    padding: .5rem; }
  .add-defi-popup .post-attached-files, .add-histoire-popup .post-attached-files {
    margin-top: 1rem; }
    .add-defi-popup .post-attached-files .info, .add-histoire-popup .post-attached-files .info {
      color: #3e3e3e;
      font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
      font-size: 1.1rem; }
    .add-defi-popup .post-attached-files .link-attach-file, .add-histoire-popup .post-attached-files .link-attach-file {
      margin-top: 1rem;
      color: #175da3;
      font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
      font-size: 1.4rem;
      display: inline-block;
      vertical-align: top;
      padding-left: 3.3rem;
      background-repeat: no-repeat;
      background-position: left center;
      line-height: 2.5rem; }
      .add-defi-popup .post-attached-files .link-attach-file.add-pictures, .add-histoire-popup .post-attached-files .link-attach-file.add-pictures {
        background-image: url(../img/picture-icone.png);
        background-size: 2.6rem auto; }
      .add-defi-popup .post-attached-files .link-attach-file.add-video, .add-histoire-popup .post-attached-files .link-attach-file.add-video {
        float: right;
        background-image: url(../img/video-icone.png);
        background-size: 2.6rem auto; }
    .add-defi-popup .post-attached-files .add-pictures-field, .add-defi-popup .post-attached-files .add-video-field, .add-histoire-popup .post-attached-files .add-pictures-field, .add-histoire-popup .post-attached-files .add-video-field {
      display: none;
      background-color: #e4e4e4;
      padding: 1rem; }
      .add-defi-popup .post-attached-files .add-pictures-field ul, .add-defi-popup .post-attached-files .add-video-field ul, .add-histoire-popup .post-attached-files .add-pictures-field ul, .add-histoire-popup .post-attached-files .add-video-field ul {
        list-style-type: none; }
      .add-defi-popup .post-attached-files .add-pictures-field li, .add-defi-popup .post-attached-files .add-video-field li, .add-histoire-popup .post-attached-files .add-pictures-field li, .add-histoire-popup .post-attached-files .add-video-field li {
        margin: 1rem 0; }
  .add-defi-popup .submit-area, .add-histoire-popup .submit-area {
    margin-top: 2.5rem;
    margin-bottom: 2.3rem; }
  .add-defi-popup .popup-btn, .add-histoire-popup .popup-btn {
    background-color: #175da3;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.8rem 1.7rem;
    border-radius: 0.3rem;
    position: relative;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0 0.4rem 0 #003662;
    box-shadow: 0 0.4rem 0 #003662; }
    .add-defi-popup .popup-btn:hover, .add-histoire-popup .popup-btn:hover {
      top: .2rem;
      -webkit-box-shadow: 0 0.2rem 0 #003662;
      box-shadow: 0 0.2rem 0 #003662; }

nav.category-nav {
  background-color: #fff;
  position: fixed;
  left: -24.5rem;
  top: 0;
  height: 100%;
  z-index: 5;
  width: 24.5rem;
  -webkit-box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3) inset;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3) inset;
  padding-top: 3.5rem;
  -o-transition: left 0.4s ease;
  -moz-transition: left 0.4s ease;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease; }
  nav.category-nav.open {
    left: 0; }
  nav.category-nav .close {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background-image: url(../img/menu-close.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-position: center; }
  nav.category-nav ul {
    list-style-type: none; }
  nav.category-nav li a {
    display: block;
    border-bottom: 1px solid #d7d7d7;
    line-height: 5rem;
    font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0 2rem; }
  nav.category-nav li:first-child a {
    border-top: 1px solid #d7d7d7; }

.page-category header.category-header {
  max-width: 120rem;
  margin: auto;
  background-color: #fff;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  padding: 2.5em 5rem;
  height: 22rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .page-category header.category-header h1 {
    font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    color: #175da3;
    margin-bottom: .8rem; }
  .page-category header.category-header p {
    font-size: 1.7rem; }

.page-register.style-login section {
  width: 37.2rem; }
  .page-register.style-login section form {
    width: 100%; }
  .page-register.style-login section label.required:after {
    content: " *"; }

.page-registration-complete section {
  background-color: #fff;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  padding: 2.5em 5rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .page-registration-complete section .main {
    font-size: 2rem;
    color: #175da3;
    font-family: "open_sanssemibold", "open_sansregular", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem; }

/*# sourceMappingURL=global.css.map */
