{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}{{ page.title }} - Yootips{% endblock %}
{% block metaDescription %}{{ truncatePost(page.body, 150)|striptags }}{% endblock %}

{% block body %}
    <section class="cms-page container">
        <h3>{{ page.title }}</h3>
        <article class="body ckeditor-actif">
            {{ page.body|raw }}
        </article>
    </section>
{% endblock %}