{% extends("YeomiPostBundle::layout.html.twig") %}

{% block body %}
    <section class="cms-page container">
        <h3>{{ article.title }}</h3>
        <div class="image">
            <img class="article-img" src="{{ web_image(asset('uploads/img/article/' ~ article.image.id ~ '.' ~ article.image.value)).cropResize(895,465, "transparent") }}" alt=""/>
        </div>
        <article class="body ckeditor-actif">
            {{ article.body|raw }}
        </article>
    </section>
{% endblock %}