<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block metaTitle %}Tpaschiche{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}Site communautaire Tpaschiche !{% endblock %}">
    {% block stylesheets %}
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

        <link rel="stylesheet" href="{{ asset("assets/css/global.css") }}"/>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body class="body-page-404">

    <div class="page-404 page-simple">
        <section class="container">
            <p class="main">
                {{ status_code }} !
            </p>
            {% if status_code == 404 %}
                <p>Oops ! La page TpasChiche que vous cherchez n'existe pas.</p>

                <a href="{{ path('yeomi_post_index') }}">Revenir à la page d'accueil</a>
            {% endif %}
        </section>
    </div>

</body>
</html>
