.page-index
{
  .wrapper-width.home-ban
  {
    background-image: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -5rem;
    position: relative;
    &:after
    {
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
  }
  #home-ban
  {
    position: relative;
    z-index: 3;
    height: 33.6rem;
    color: $thirdFontColor;
    @include setContainer();
    padding: 2rem 0;
    text-align: center;
    span
    {
      display: block;
      text-align: center;
    }
    .top
    {
      font-size: 2.2rem;
      font-style: italic;
      margin: 6rem 0 2rem 0;
    }
    .middle
    {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
    .bottom
    {
      font-size: 2.9rem;
    }
    .btn.big.register
    {
      margin-top: 3.8rem;
      background-color: $lighterColor;
      display: inline-block;
      font-size: 2.3rem;
      color: $thirdFontColor;
      padding: 1rem 3.5rem;
      border-radius: 0.5rem;
      @include boxShadow(0 .4rem 0 #003662);
    }
  }
  .container.container-home-block
  {
    margin-top: 3rem;
    overflow: hidden;
    clear: both;
  }
  
  #social-block
  {
    float: right;
    text-align: center;
    width: 28rem;
    height: 46.5rem;
    background-color: #fff;
    border: 1px solid #bcbcbc;
    padding: 1.7rem;
    padding-bottom: 6rem;
    h4
    {
      text-transform: uppercase;
      font-family: $semiBold;
      color: $darkerColor;
      font-size: 1.7rem;
      margin-bottom: 1.3rem;
    }
    .buttons-area
    {
      font-size: 0;
      margin-bottom: 5rem;
      a
      {
        text-indent: -999rem;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        width: 4.3rem;
        height: 4.3rem;
        background-repeat: no-repeat;
        background-size: 4.3rem 4.3rem;
        background-position: center;
        margin: 0 .1rem;
      }
      .fb
      {
        background-image: url(../img/socials/fb.jpg);
      }
      .tw
      {
        background-image: url(../img/socials/tw.jpg);
      }
      .pin
      {
        background-image: url(../img/socials/pin.jpg);
      }
      .you
      {
        background-image: url(../img/socials/you.jpg);
      }
      .gplus
      {
        background-image: url(../img/socials/gplus.jpg);
      }
    }
  }

  #articles-block
  {
    float: left;
    width: 89.5rem;
    .article-teaser
    {
      position: relative;
      height: 46.5rem;
      .block-over
      {
        padding: 2rem 2.7rem;
        width: 53.5rem;
        color: white;
        height: 26rem;
        position: absolute;
        left: 8.5rem;
        top: 7rem;
        background-color: rgba(0,0,0,0.8);
        h3
        {
          font-size: 3.5rem;
          font-family: $semiBold;
        }
        p
        {
          font-size: 1.8rem;
          line-height: 3.2rem;
          &:before { content: '« '}
          &:after { content: ' »'}
        }
        a
        {
          color: white;
          font-family: $semiBold;
          position: absolute;
          bottom: 2rem;
          left: 2.7rem;
          text-decoration: underline;
        }
      }
      .readmore
      {
        background-color: $lighterColor;
        font-size: 1.8rem;
        position: absolute;
        left: 8.5rem;
        padding-left: 4.5rem;
        line-height: 2.7rem;
        bottom:7rem;
        background-image: url(../img/big-arrow-right.png);
        background-repeat: no-repeat;
        background-position: 1rem center;
        background-size: 2.7rem auto;
        @include boxShadow(0 0.4rem 0 $darkerColor);
        &:hover, &.active
        {
          top: auto;
        }
      }
    }
    .slick-dots
    {
      bottom: 14.1rem;
      right: 28.8rem;
      text-align: right;
      width: auto;
      li { margin: 0 .1rem;}
      button
      {
        background-color: #fff;
        border-radius: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        &:before
        {
          content:"";
        }
      }
      .slick-active button
      {
        background-color: $darkerColor;
      }
    }

    .slick-next,
    .slick-prev
    {
      background-image: url(../img/slideshow-left.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 2.6rem auto;
      width: 2.6rem;
      height: 2.6rem;
      &:before
      {
        content: "";
      }
    }
    .slick-prev
    {
      left: 1.5rem;
    }
    .slick-next
    {
      background-image: url(../img/slideshow-right.png);
      right: 1.5rem;
    }
  }
}