.page-index
{
  .wrapper-width.home-ban
  {
    background-image: url(../img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -5rem;
    position: relative;
    &:after
    {
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
  }
  #home-ban
  {
    position: relative;
    z-index: 3;
    height: 33.6rem;
    color: $thirdFontColor;
    @include setContainer();
    padding: 2rem 0;
    text-align: center;
    span
    {
      display: block;
      text-align: center;
    }
    .top
    {
      font-size: 2.2rem;
      text-transform: uppercase;
      margin: 3rem 0 2rem 0;
    }
    .middle
    {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
    .bottom
    {
      font-size: 2.9rem;
    }
    .btn.big.register
    {
      margin-top: 3.8rem;
      background-color: $lighterColor;
      display: inline-block;
      font-size: 2.3rem;
      color: $thirdFontColor;
      padding: 1rem 3.5rem;
      border-radius: 0.5rem;
      @include boxShadow(0 .4rem 0 #003662);
    }
  }
  
  #social-block
  {
    float: right;
    text-align: center;
    width: 28rem;
    background-color: #fff;
    border: 1px solid #bcbcbc;
    padding: 1.7rem;
    padding-bottom: 6rem;
    h4
    {
      text-transform: uppercase;
      font-family: $semiBold;
      color: $darkerColor;
      font-size: 1.7rem;
      margin-bottom: 1.3rem;
    }
    .buttons-area
    {
      font-size: 0;
      margin-bottom: 5rem;
      a
      {
        text-indent: -999rem;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        width: 4.3rem;
        height: 4.3rem;
        background-repeat: no-repeat;
        background-size: 4.3rem 4.3rem;
        background-position: center;
        margin: 0 .1rem;
      }
      .fb
      {
        background-image: url(../img/socials/fb.jpg);
      }
      .tw
      {
        background-image: url(../img/socials/tw.jpg);
      }
      .pin
      {
        background-image: url(../img/socials/pin.jpg);
      }
      .you
      {
        background-image: url(../img/socials/you.jpg);
      }
      .gplus
      {
        background-image: url(../img/socials/gplus.jpg);
      }
    }
  }

}