.page-index
{
  .wrapper-width.home-ban
  {
    background-image: url(../img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -5rem;
    position: relative;
    &:after
    {
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
  }
  #home-ban
  {
    position: relative;
    z-index: 3;
    height: 33.6rem;
    color: $thirdFontColor;
    @include setContainer();
    padding: 2rem 0;
    text-align: center;
    span
    {
      display: block;
      text-align: center;
    }
    .top
    {
      font-size: 2.2rem;
      text-transform: uppercase;
      margin: 3rem 0 2rem 0;
    }
    .middle
    {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
    .bottom
    {
      font-size: 2.9rem;
    }
    .btn.big.register
    {
      margin-top: 3.8rem;
      background-color: $lighterColor;
      display: inline-block;
      font-size: 2.3rem;
      color: $thirdFontColor;
      padding: 1rem 3.5rem;
      border-radius: 0.5rem;
      @include boxShadow(0 .4rem 0 #003662);
    }
  }

  .more-posts
  {
    background-color: #f6f6f6;
    position: relative;
    top: -1px;
    border: 1px solid #bcbcbc;
    a
    {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      text-align: center;
      &:after {
        content: "";
        width: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        height: .9rem;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-size: 1.5rem auto;
        background-position: center;
      }
    }
  }
}