.page-post
{
  @include setContainer();
  background-color: #fff;
  margin-top: 1rem;
  padding: 3.5rem 7.5rem 6rem 7.5rem;
  .post.full-view
  {
    position: relative;
    margin-bottom: 3rem;
    &:before
    {
      content: "";
      width: .7rem;
      height: 105%;
      position: absolute;
      left: -7.5rem;
      top: -3.5rem;
      display: block;
      background-color: $darkerColor;
    }
    .body
    {
      font-size: 1.5rem;
    }
    .details
    {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: $darkerColor;
      .post-date
      {
        color: #9f9f9f;
      }
      a
      {
        color: $darkerColor;
      }
    }
    .social-network-action
    {
      position: absolute;;
      left: 0;
      bottom: 0;
      >div, >iframe
      {
        font-size: 0;
        vertical-align: top;
        margin-right: 1rem;
      }
    }
    .actions-btn
    {
      margin-top: 1rem;
      position: absolute;;
      right: 0;
      bottom: 0;
      a
      {
        margin-left: .7rem;
        font-size: 1.4rem;
      }
    }

    .left
    {
      overflow: hidden;
      position: relative;
      padding-bottom: 5rem;
    }
    &.with-img
    {
      font-size: 0;
      .left, .right
      {
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: top;
      }

      .left
      {
        margin-right: 1rem;
        width: 69.5rem;
        min-height: 21rem;
      }
      .right
      {
        position: relative;
        width: 34rem;
        img
        {
          width: 100%;
          height: auto;
        }
      }
    }
    &.with-video
    {
      font-size: 0;
      .left, .right
      {
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: top;
      }
      .left
      {
        margin-right: 1rem;
        width: 62rem;
        min-height: 25.1rem;

      }
      .right
      {
        position: relative;
        width: 42rem;
        iframe
        {
          width: 100%;
        }
      }
    }
    #post-slideshow
    {
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: 0;
      .slick-next,
      .slick-prev
      {

        background-image: url(../img/slideshow-left.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 2.6rem auto;
        width: 2.6rem;
        height: 2.6rem;
        &:before
        {
          content: "";
        }
      }
      .slick-prev
      {
        left: .7rem;
      }
      .slick-next
      {
        background-image: url(../img/slideshow-right.png);
        right: .7rem;
      }
      .slick-dots
      {
        bottom: 0.2rem;
        li { margin: 0 .1rem;}
        button
        {
          background-color: #fff;
          border-radius: .6rem;
          width: 1.2rem;
          height: 1.2rem;
          &:before
          {
            content:"";
          }
        }
        .slick-active button
        {
          background-color: $darkerColor;
        }
      }
    }
  }
  .comment-area
  {
    padding: 5rem 10rem 7rem 15rem;
    background-color: #f3f3f3;
    border: 1px solid #d2d2d2;
    .simple-message
    {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      a
      {
        color: $lighterColor;
      }
    }
    .add-comment-block
    {
      margin-bottom: 7rem;
      position: relative;
      .avatar
      {
        position: absolute;
        left: -11.7rem;
        top: 0;
        width: 9rem;
        height: 9rem;
        border-radius: .4rem;
        overflow: hidden;
        img
        {
          width: 100%;
          height: auto;
        }
      }
      .comment-intro p
      {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
        .username
        {
          color: $lighterColor;
          font-family: $semiBold;
          text-transform: capitalize;
        }
      }
      .add-comment-form
      {
        overflow: hidden;
      }
      textarea
      {
        border-radius: .3rem;
        border-color: #d7d7d7;
        font-size: 1.7rem;
        min-height: 12rem;
        padding: 1.6rem 1.5rem
      }

      .comment-attached-files
      {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        min-height: 3rem;
      }
      .field-attach-file
      {
      }
      .submit-area
      {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .list-comment-block
    {
      >h4
      {
        background-image: url(../img/bubble-icone-filled.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 5.4rem auto;
        padding-left: 6.5rem;
        font-size: 1.9rem;
        margin-bottom: 2rem;
        line-height: 4.4rem;
      }
      .comment-list
      {
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: .3rem;
        padding: 3.2rem;
      }
      .comment
      {
        padding: 2.5rem 0 3rem 0;
        overflow: hidden;
        border-top: 1px solid #d7d7d7;
        &:first-of-type
        {
          border: none;
          padding-top: 0;
        }
      }
      .left
      {
        float: left;
        margin-right: 2rem;
      }
      .avatar
      {
        width: 9rem;
        height: 9rem;
        border-radius: .4rem;
        overflow: hidden;
        img
        {
          width: 100%;
          height: auto;
        }
      }
      .right
      {
        overflow: hidden;
        h4
        {
          color: $lighterColor;
          font-family: $semiBold;
          font-size: 1.8rem;
          text-transform: capitalize;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 1rem;
        }
        .details
        {
          color: #9f9f9f;
          font-size: 1.3rem;
          display: inline-block;
          vertical-align: bottom;
          line-height: 2.2rem;
        }
        .body
        {
          margin-top: 1rem;
          font-size: 1.5rem;
        }
        .actions-btn
        {
          float: right;
        }
        .vote-btn, .vote-btn-disable
        {
          padding-left: 1.9rem;
          background-image: url(../img/like.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 1.6rem auto;
          color: #747474;
          font-size: 1.1rem;
          &.hate
          {
            background-image: url(../img/hate.png);
          }
        }
        .attached-files
        {
          clear: both;
          img
          {
            max-width: 27%;
            height: auto;
            margin-top: 4.5rem;
            margin-right: 2.5rem;
          }
        }
      }
    }
  }
}