.page-registration-complete
{
  section
  {
    background-color: $thirdFontColor;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    padding:  2.5em 5rem;
    @include boxShadow(0 0 6px rgba(0,0,0,0.2));
    .main
    {
      font-size: 2rem;
      color: $darkerColor;
      font-family: $semiBold;
      margin-bottom: 1rem;
    }
  }
}