.page-register.style-login
{

  section
  {
    #yeomi_userbundle_user_gender
    {
      margin-bottom: 2rem;
      label.required:after { content: ""; }
    }
    width: 80rem;
    form
    {
      width: 100%;
    }
    .form-legend
    {
      display: block;
      margin-bottom: 2rem;
      font-size: 1.3rem;
      color: $secondFontColor
    }
    input.with-legend
    {
      margin-bottom: 0;
    }
    label.required:after
    {
      content: " *";
    }
    .submit-area
    {
      float: right;
    }
  }
}