{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}
    <section class="page-category page-search">
        <header class="category-header">
            <h1>Recherche : {{ searchWord }}</h1>
            <p>Il y à {{ posts|length }} pour votre recherche</p>
        </header>

        {% block homeViews %}

            <div class="container container-lists">
                <div class="full column-container">

                    <div class="ajax-wrapper">

                    {{ include("YeomiPostBundle:Main:list.html.twig") }}
                    </div>
                </div>
            </div>
        {% endblock %}




    </section>


{% endblock %}