<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post" action="">
    <input name="search" type="text"/>
    <input type="submit"/>
</form>
</body>
</html>