
@media screen and  (max-width: 1099px)
{
  #highlight-block
  {
  }
}

@media screen and  (max-width: 969px)
{
  html
  {
    font-size: 9px;
  }
  .page-index
  {
    #home-ban
    {
      span { font-size: 2.2rem !important;}
      height: 23.6rem;
      .top
      { margin: 3rem}
    }
    #articles-block
    {
      float: none;
      margin: auto;
    }
    #highlight-block
    {
      display: none;
    }
    .slick-slider {margin-bottom: 0;}
  }
}


@media screen and  (max-width: 820px)
{
  .page-index
  {
    #home-ban
    {
      height: 17.6rem;
      .text
      {
        display: none;
      }
    }
    #articles-block
    {
      display: none;
    }
  }
  body.authenticated-user
  {
    #home-ban
    {
      display: none;
    }
  }
}