
@media screen and  (min-width: 820px) and  (max-width: 969px)
{
  .container.container-lists .column-container
  {
    width: 50%;
    &.left .index-menu
    {
      @include boxShadow(none);
      border-right: 1px solid #d7d7d7;
    }
    &.right .index-menu
    {
      @include boxShadow(none);
      border-left: 1px solid #d7d7d7;
    }
  }
  .post.list-view
  {
    padding: 1rem 2rem;
    .details
    {
      padding-top: 1rem;
    }
    .content { height: 11rem; }
    .post-date { display: none;}
  }
}

@media screen and  (max-width: 819px)
{
  .container.container-lists .column-container
  {
    &.right, &.left
    {
      max-width: 640px;
      width: 95%;
      min-width: 320px;
      display: block;
      float: none;
      margin: 2rem auto;
    }
  }
  .post.list-view
  {
    .comments
    {
      display: none;
    }
    .content
    {
    }

  }
}

@media screen and  (max-width: 565px)
{

  .post.list-view
  {
   .right
   {
     display: none;
   }
    .content
    {
      height: 10rem;
    }

  }
}
