

@media screen and  (max-width: 819px)
{
  .container.container-lists .column-container
  {
    &.right, &.left, &.full
    {
      max-width: 640px;
      width: 95%;
      min-width: 320px;
      display: block;
      float: none;
      margin: 1rem auto;
    }
  }
  .container.container-lists .column-container .post.list-view, .container.container-lists .column-container .article.list-view
  {
    display: block;
    float: none;
    position: relative;
    width: 100%;
    border: 1px solid #d7d7d7;
    &:nth-of-type(2n+1)
    {
      border-left: 1px solid #d7d7d7;
      float: none;
    }
    &:nth-of-type(2n)
    {
      border-right: 1px solid #d7d7d7;
      float: none;
    }
    .content {
      display: none;
    }
    .mobile-content {
      display: block;
    }
    .actions-btn .readmore
    {
      margin: 0;
      border: 1px solid #175da3;
      border-radius: 0.4rem;
      height: 3rem;
      width: 3rem;
      overflow: hidden;
      position: relative;
      color: #175da3;
      font-size: 0;
      &:after
      {
        position: absolute;
        font-size: 3rem;
        top: -0.6rem;
        content: "+";
        width: 100%;
        text-align: center;
      }
    }

  }
}

@media screen and  (max-width: 565px)
{

  .post.list-view, .article.list-view
  {
   .right
   {
     display: none;
   }

    .comments
    {
      display: none;
    }
    .content
    {
      height: 12rem;
    }

  }
}
