@media screen and  (min-width: 1100px) and (max-width: 1200px)
{
  html
  {
    font-size: 9px;
  }
}

@media screen and  (min-width: 970px) and (max-width: 1099px)
{
  html
  {
    font-size: 8px;
  }
}

@media screen and  (max-width: 969px)
{
  html
  {
    font-size: 9px;
  }
  body
  {
    padding-top: 6.7rem;
  }
}

@media screen and  (max-width: 820px)
{

  .sentence-footer
  {
    display: none;
  }
  body
  {
    padding-top: 5.5rem;
  }
  .hide-mobile
  {
    display: none;
  }

}

