@media screen and  (min-width: 1100px) and (max-width: 1200px)
{
  html
  {
    font-size: 9px;
  }
}

@media screen and  (min-width: 970px) and (max-width: 1099px)
{
  html
  {
    font-size: 8px;
  }
}

@media screen and  (max-width: 969px)
{
  html
  {
    font-size: 9px;
  }
}