
@media screen and  (max-width: 820px)
{
  .pop-up-wrapper
  {
    position: absolute;
    top: -5.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 130;
    background-color: rgba(0, 0, 0, .8);
  }
  .popup-container
  {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    width: 90%;
    max-width: 48rem;
    .popup-arrow
    {
      display: none;
    }
    aside.yeomi-popup
    {
      position: static;
      top: 9rem;
      padding: 1rem 3.4rem;
      width: 100%;
      z-index: 20;
    }
    .close
    {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 1rem;
      cursor: pointer;
      right: 1rem;
      background-image: url("../img/close-icone.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 2rem auto;
    }

  }
  .login-popup
  {
    .submit-area
    {
      text-align: center;
      clear: both;
      float: none;
    }
    .login-noaccount
    {
      padding-top: 2.5rem;
    }
  }
  .add-defi-popup, .add-histoire-popup
  {
    .field-attach-file
    {
      input[type="file"]
      {
        max-width: 15rem;
      }
    }
    .link-attach-file
    {
      margin-right: 0;
      width: 2.6rem;
    }
  }
}
