
@media screen and (max-width: 820px)
{
  .page-profile
  {
    .side-infos
    {
      font-size: 1.3rem;
    }
  }

}

@media screen and (max-width: 565px)
{
  .page-profile
  {
    .profile-ban
    {
      padding: 1rem;
      font-size: 1.3rem;
      height: auto;
      .avatar
      {
        width: 7rem;
        height: 7rem;
      }
    }
    .content
    {
      .btn-3d
      {
        font-size: 1.3rem;
        padding: 0.7rem 1rem;
      }
      .profile-nav li
      {
        margin: 1rem 0 1rem 1rem;
      }
    }
    .create-profile-block
    {
      width: 100%;
      padding: 1rem;
      table
      {

        width: 100%;
        label
        {
          text-align: left;
          margin-top: 1rem;
        }
        td
        {
          display: block;
          vertical-align: top;
        }
      }
    }
  }

}