{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}

    <div class="page-registration-complete page-simple">
        <section class="container">
            <p class="main">
                Regardez dans votre courrier pour activer votre compte !
            </p>

            <p>Vous venez de créer votre compte. Vous devez maintenant l'activer en utilisant le lien qui se trouve dans le mail que nous venons de vous envoyer.</p>
        </section>
    </div>

{% endblock %}