{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}

    <div class="page-reset-password-validate page-simple">
        <section class="container">
            {% if isOutdated %}
                <div class="is-generated">
                    <p class="main">
                        Votre nouveau mot de passe à été générer !
                    </p>

                    <p>Vous le recevrez dans un instant par email.</p>
                </div>
            {% else %}
                <div class="was-generated">
                    <p class="main">
                        Votre nouveau mot de passe à déjà été générer !
                    </p>
                    <p>Si vous avez à nouveau oublié votre mot de passe vous pouvez en générer un autre en cliquant sur "mot de passe oublié".</p>
                </div>
            {% endif %}
        </section>

    </div>

{% endblock %}