{% extends("YeomiUserBundle::layout.html.twig") %}

{% block body %}
    <div class="page-reset-password page-simple">
        <section class="container">

            {% for index, message in app.session.flashbag.get("error") %}
                <p class="flash-bag-error">{{ message }}</p>
            {% endfor %}

            {% if isDone %}
                <div class="is-done">
                    <p class="main">Regardez dans votre courrier pour générer un nouveau mot de passe !</p>
                    <p>Vous allez recevoir sous peu un email avec les indications pour procéder à la génération d'un nouveau mot de passe.</p>
                </div>
            {% else %}
                <div class="is-not-done">
                    <p class="main">Envoyez moi un nouveau mot de passe !</p>
                    <p>Saissisez votre adresse email dans le champ ci-dessous, vous recevrez ensuite un email avec les indications à suivre pour la génération de votre nouveau mot de passe.</p>
                    <form action="" method="post">
                        <div class="inputs"><input placeholder="Tapez votre e-mail" id="email_given" name="email_given" type="text"/></div>
                        <input class="btn" type="submit"/>
                    </form>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}