{% extends("YeomiUserBundle::layout.html.twig") %}

{% block body %}
    <div>
        Envoyer moi un nouveau mot de passe
        <form action="" method="post">
            <label for="">Votre email</label><input name="email_given" type="text"/>
            <input type="submit"/>
        </form>
    </div>
{% endblock %}