{% extends("YeomiUserBundle::layout.html.twig") %}

{% block body %}
    <div>
        this is me {{ app.user.username }}

        {% for role in app.user.roles %}
            {{ role }}
        {% endfor %}
    </div>
{% endblock %}