{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}

    <div class="page-reset-password-validate page-simple">
        <section class="container">
            {% if typeOfAction == 1 %}
                <div class="is-validated">
                    <p class="main">
                        Félicitations, votre compte est valider !
                    </p>

                    <p>Vous pouvez dés à présent vous connecter et profiter pleinement du site.</p>
                </div>
            {% elseif typeOfAction == 2 %}
                <div class="is-already-validated">
                    <p class="main">
                        Votre compte à déjà été valider !
                    </p>

                    <p>Vous pouvez dés à présent vous connecter et profiter pleinement du site.</p>
                </div>
            {% elseif typeOfAction == 3 %}
                <div class="is-wrong">
                    <p class="main">
                        Erreur d'authentification
                    </p>

                    <p>Le lien utilisé est corrompu.</p>
                </div>
            {% endif %}
        </section>

    </div>

{% endblock %}