{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}Desinscription de la newsletter{% endblock %}

{% block body %}

  <div class="page-register style-login">
    <div class="container">

      <section>


        <h3>Se désinscrire de la newsletter</h3>

        <form action="" method="post">
          <input type="text" name="_email">
          <button type="submit">Se désinscrire</button>
        </form>

      </section>
    </div>
  </div>

{% endblock %}