{% extends("YeomiAdminBundle::layout.html.twig") %}

{% block content %}
    <h2>
        Bienvenue dans votre espace de gestion personnel
    </h2>
    <p>
        Vous pouvez administrer différents type de contenus accessible via les boutons de navigation situé à gauche.
    </p>
{% endblock %}