.add-post-popup
{
  width: 50rem;
  padding: 1rem 8rem 3rem 8rem;
  h3
  {
    font-family: $light;
    font-size: 2.3rem;
    text-align: center;
  }
  .post-title {
    margin-top: 1rem;
  }
  .post-title input, .post-link input {
    border: 1px solid #ccc;
    padding: .8rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color: #666;
    height: 3.2rem;
    width: 100%;
  }
  .post-body textarea
  {
    width: 100%;
    height: 25rem;
    border: 1px solid #c1c1c1;
    resize: none;
    font-size: 1.5rem;
    border-radius: .4rem;
    padding: .8rem 1.5rem;
  }
  .post-category select
  {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    background-color: transparent;
    padding: .2rem;
  }
  .post-attached-files
  {
    margin-top: 1rem;
    .info
    {
      color: $fontColor;
      font-family: $semiBold;
      font-size: 1.1rem;
    }
    .link-attach-file
    {
      margin-top: .5rem;
      margin-right: 2rem;
      text-indent: -999rem;
      overflow: hidden;
    }
    .field-attach-file
    {
      clear: both;
    }
    .add-pictures-field ul
    {
      padding: 0.5rem 1rem;
      li
      {
        margin: 0 0 .5rem 0;
      }
    }
  }
  .submit-area
  {
    margin-top: .5rem;
    float: right;
    .popup-btn
    {
      font-size: 1.4rem;
    }
  }
}