.container.container-lists
{
  font-size: 0;
  .column-container
  {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    &.full
    {
      width: 100%;
    }
    &.right
    {
      float: right;
    }
  }
  .index-menu
  {
    @include boxShadow(0 0 6px rgba(0,0,0,0.2));
    background-color: $thirdFontColor;
    font-size: 0;
    .tab
    {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      text-align: center;
      a
      {
        position: relative;
        display: block;
        padding: 2.3rem 1rem 1.7rem 1rem;
        font-size: 2.2rem;
        font-family: $semiBold;
        color: $secondFontColor;
        &:before
        {
          display:none;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1rem;
          background-color: $darkerColor;
        }
      }
      &.active, &:hover
      {
        a {color: $darkerColor;}
        a:before {display: block;}
      }
    }
  }



  .more-posts
  {
    background-color: #f6f6f6;
    position: relative;
    top: -1px;
    border: 1px solid #bcbcbc;
    a
    {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      text-align: center;
      &:after {
        content: "";
        width: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        height: .9rem;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-size: 1.5rem auto;
        background-position: center;
      }
    }
  }

}
.container.container-lists
{
  .full.column-container
  {
    .ajax-wrapper
    {
      font-size: 0;
    }
    .list-view
    {
      font-size: 1.6rem;
      width: 50%;
      display: inline-block;
      vertical-align: top;
      border: 3px solid $bgColor;
      &:nth-of-type(even)
      {
        border-right: none;
        float: right;
      }
      &:nth-of-type(odd)
      {
        border-left: none;
      }
    }
  }
}
.list-view
{
  position: relative;
  border: 1px solid #d7d7d7;
  background-color: $thirdFontColor;
  padding: 2rem;
  &:before
  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .9rem;
    height: 8rem;
    background-color: $darkerColor;

  }
  .content
  {
    font-size:1.5rem;
    margin-bottom: 0.5rem;
    height: 9rem;
  }
  .details
  {
    font-size: 1.3rem;
    color: $darkerColor;
    .post-date { color: #9f9f9f;}
    a { color: $darkerColor;}

  }
  table
  {
    width: 100%;
    td { vertical-align: top; }
  }

  .right
  {
    text-align: right;
    img
    {
      width: 9rem;
      height: 9rem;
      border-radius: 0.3rem;
      margin-left: 2rem;
    }
  }
  .actions-btn
  {
    margin-top: 1.8rem;
    .vote-btn
    {
      margin: 0;
      margin-right: .5rem;
      border: 1px solid $darkerColor;
      font-family: $font;
      color: $darkerColor;
      font-size: 1.2rem;
      display: inline-block;
      padding: .5rem 1rem;
      border-radius: .4rem;
      &:hover
      {
        color: $thirdFontColor;
        background: $darkerColor;
      }
    }

    a
    {
      margin: .7rem;
    }
    .comments
    {
      color: #747474;
      font-size: 1.1rem;
      padding-left: 2.2rem;
      background-image: url(../img/bubble-icone.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.9rem auto;
      line-height: 3.5rem;
    }
    .share
    {
      padding-left: 1.7rem;
      background-image: url(../img/share-icone.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.7rem auto;
    }
    .readmore
    {
      float: right;
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }
}