.container.container-lists
{
  font-size: 0;
  .column-container
  {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    float: left;
    &.full
    {
      width: 100%;
    }
    &.right
    {
      float: right;
    }
  }
  .index-menu-wrapper {
    border: 1px solid #d7d7d7;
    position: relative;
    background-color: $thirdFontColor;
    height: 6rem;
  }
  .index-menu
  {
    background-color: $thirdFontColor;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    &:hover {
      @include boxShadow(0 0 6px rgba(0,0,0,0.2));
      .tab {
        height: 5rem;
      }
    }
    .tab
    {
      @include transition(all 0.4s ease);
      height: 0;
      overflow: hidden;
      vertical-align: top;
      text-align: center;
      a
      {
        padding: 1rem 7rem 1rem 2rem;
        position: relative;
        display: block;
        font-size: 2.2rem;
        font-family: $semiBold;
        color: $secondFontColor;
        //&:before
        //{
        //  display:none;
        //  content: "";
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  width: 100%;
        //  height: 1rem;
        //  background-color: $darkerColor;
        //}
      }
      &.active {
        height: 5rem;
        background-image: url('../img/arrow-down-blue.png');
        background-repeat: no-repeat;
        background-position: right 2.5rem center;
        background-size: 3.4rem 1.7rem;
      }
      &.active, &:hover
      {
        a {color: $darkerColor;}
        a:before {display: block;}
      }
    }
  }



  .more-posts
  {
    margin-top: 20px;
    background-color: #f6f6f6;
    position: relative;
    top: -1px;
    border: 1px solid #bcbcbc;
    a
    {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      text-align: center;
      &:after {
        content: "";
        width: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        height: .9rem;
        background-image: url(../img/arrow-down.png);
        background-repeat: no-repeat;
        background-size: 1.5rem auto;
        background-position: center;
      }
    }
  }

}

.list-view
{
  margin-top: 20px;
  position: relative;
  border: 1px solid #d7d7d7;
  background-color: $thirdFontColor;
  padding: 2rem;
  //&:before
  //{
  //  content: "";
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: .9rem;
  //  height: 8rem;
  //  background-color: $darkerColor;
  //}
  h3 {
    font-size: 18px;
    font-family: $bold;
  }
  .content
  {
    font-size:1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    height: 9rem;
  }
  .mobile-content {
    display: none;
  }
  .details
  {
    font-size: 1.3rem;
    color: $darkerColor;
    .post-date { color: #9f9f9f;}
    a { color: $darkerColor;}

  }
  table
  {
    width: 100%;
    td { vertical-align: top; }
  }

  .right
  {
    text-align: right;
    span 
    { 
      display: inline-block;
      background-color: $bgColor;
      background-image: url(../img/play-icone.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 7.5rem auto;
    }
    img, span
    {
      width: 9rem;
      height: 9rem;
      border-radius: 0.3rem;
      margin-left: 2rem;
    }
  }
  .actions-btn
  {
    margin-top: 1.8rem;
    .vote-btn
    {
      margin: 0;
      margin-right: .5rem;
      span {
        display: inline-block;
        vertical-align: middle;
      }
      .picto {
        display: inline-block;
        width: 2rem;
        height: 2.1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2rem 2.1rem;
      }
      &.like .picto {
        background-image: url(../img/thumbs-up.png);
      }
      &.hate .picto {
        background-image: url(../img/thumbs-down.png);
      }
      &:hover {
        background-color: #fff;
        color: $darkerColor;
      }
    }

    a
    {
      margin: .7rem;
    }
    .share
    {
      padding-left: 1.7rem;
      background-image: url(../img/share-icone.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.7rem auto;
    }
    .readmore
    {
      float: right;
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }
}