.login-popup
{
  width: 44rem;
  @include boxShadow(0 0 2rem rgba(0,0,0,0.3));
  a { color: #6a6a6a; }
  h3
  {
    font-family: $light;
    font-size: 2.3rem;
    text-align: center;
  }
  .login-infos label
  {
    position: relative;
    border: 1px solid #c1c1c1;
    border-radius: .4rem;
    overflow: hidden;
    margin: 1.6rem 0;
    display: block;
    height: 5.8rem;
    &.username
    {
      margin-bottom: 2.2rem;
      &:before
      {
        background-image: url(../img/user-icone.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.1rem auto;
      }
    }
    &:before
    {
      display: block;
      content: "";
      height: 100%;
      width: 5.8rem;
      position: absolute;
      left: 0;
      top: 0;
      border-right: 1px solid #c1c1c1;
    }
  }
  .login-infos input
  {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 3rem 0 8rem;
    color: $fontColor;
    font-size: 1.6rem;
  }
  .remember-me
  {
    font-size: 1.4rem;
    input {margin-right: .9rem;}
    float: left;
  }
  .submit-area
  {
    text-align: right;
    float: right;
    a
    {
      margin-top: 1rem;
      font-size: 1.4rem;
      display: block;
    }
  }
  .login-facebook
  {
    padding-top: 3.5rem;
    clear: both;
    text-align: center;
    h3 {
      font-size: 2.1rem;
    }
    .popup-btn
    {
      margin-top: 1.4rem;
    }

  }
  .login-noaccount
  {
    padding-top: 2rem;
    clear: both;
    text-align: center;
    .popup-btn
    {
      margin: 1.4rem 0;
    }

  }
  .popup-btn
  {
    background-color: $darkerColor;
    display: inline-block;
    font-size: 1.5rem;
    color: $thirdFontColor;
    padding: 0.8rem 1.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    @include boxShadow(0 .4rem 0 #003662);
  }
}