.page-simple
{
  section
  {
    background-color: $thirdFontColor;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    padding:  2.5em 5rem;
    @include boxShadow(0 0 6px rgba(0,0,0,0.2));
  }
  .main
  {
    font-size: 2rem;
    color: $darkerColor;
    font-family: $semiBold;
    margin-bottom: 1rem;
  }

  input[type="text"], input[type="email"], input[type="password"]
  {
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: .3rem;
    color: #666;
    width: 30rem;
    height: 3.3rem;
    padding: .3rem;
  }
  .btn
  {
    background-color: $lighterColor;
    border-radius: 0.4rem;
    border: 0;
    padding: .7rem;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
}