body
{
  background-color: #efefef;
}
.top-bar
{
  background-color: black;
}
.top-bar a
{
  color: white;
}
.top-bar a:hover
{
  color: white;
  text-decoration: none;
}
.menu
{
  background-color: black;
  padding: 0;
}
.content
{
  padding: 30px;
}
.menu ul
{
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.menu a
{
  display: block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-bottom: 1px solid #efefef;
}
.menu a:hover
{
  text-decoration: none;
  color: #337ab7
}

.user-table .unvalidate
{
  background-color: #f0ad4e;

}
.user-table .admin
{
  background-color: #5bc0de !important;

}