.sentence-footer
{
  clear: both;
  margin: auto;
  margin-top: 5rem;
  width: 47.7rem;
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: #9b9b9b;
  font-style: italic;
  padding: 0 5.5rem;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 2.8rem;
    background-size: 3.5rem 2.8rem;
  }
  &:before {
    left: 0;
    top: 0;
    background-image: url(../img/quote-before.png);
  }
  &:after {
    bottom: 0;
    right: 0;
    background-image: url(../img/quote-after.png);
  }
}

footer#site-footer
{
  background-color: #d3d3d3;
  margin-top: 5rem;
  font-size: 0;
  .footer-container {
    @include setContainer();
  }
  .footer-nav
  {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 15px;
    a
    {
      color: #818181;
      &:hover { color: white;}
    }
    ul
    {
      list-style-type: none;
    }
    .page-list
    {
      text-align: center;
      padding: 1.5rem 0;
      color: #818181;
      li
      {
        margin: 0 2rem;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .social-links {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 1.5rem;
    h2 {
      font-size: 1.8rem;
      font-family: $semiBold;
      margin-bottom: 1.3rem
    }
    a {
      display: inline-block;
      vertical-align: middle;
      text-indent: -99rem;
      overflow: hidden;
      width: 4.3rem;
      height: 4.3rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 4.3rem auto;
    }
    .facebook {
      background-image: url(../img/facebook-normal.png);
    }
    .twitter {
      background-image: url(../img/twitter-normal.png);
    }
    .google-plus {
      background-image: url(../img/gplus-normal.png);
    }
    .instagram {
      background-image: url(../img/instagram-normal.png);
    }
  }
  .newsletter-subscription {
    font-size: 1.4rem;
    height: 12.4rem;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    color: #818181;
    border-right: 1px solid #bcbcbc;
    h2 {
      font-size: 1.8rem;
      font-family: $semiBold;
    }
    form {
      margin-top: 14px;
      display: inline-block;
      position:relative;
      width: 33rem;
    }
    input[type="text"], input[type="email"]
    {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 0;
      font-size: 1.5rem;
      background-color: #efefef;
      border-radius: .4rem;
      padding: .7rem 1.5rem;
    }
    input[type="submit"]
    {

      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      height: 3.5rem;
      width: 3.5rem;
      font-size: 1.5rem;
      background: $lighterColor;
      border: 0;
      padding: 0;
      margin: 0;
      text-align: center;
      border-radius: 0 .4rem .4rem 0;
      color: white;
      font-family: $semiBold;
      -webkit-appearance: none;
    }
  }
  .sub-footer-nav
  {
    overflow: hidden;
    .left
    {
      text-align: right;
      padding: 1.5rem;
      margin: 1rem;
      margin-left: 6rem;
      float: left;
      border-right: 3px solid white;
    }
  }
}