@import 'font';
@import 'variables';
@import 'normalize';
@import 'main';
@import 'header';
@import 'footer';
@import 'pages/home';
@import 'pages/login';
@import 'elements/list';
@import 'elements/popup';
@import 'elements/loginPopup';
@import 'elements/menu';
@import 'pages/category';