.wrapper-width.site-header
{
  background-color: $darkerColor;
  position: fixed;
  top: 0;
  left: 0;
  @include transition(all 0.4s ease);
  z-index: 10;
  width: 100%;
}
header#site-header
{
  @include setContainer();
  position: relative;
  width: 100%;
  height: 8.7rem;
  text-align: center;
  #main-logo
  {
    display: block;
    width: 25.2rem;
    position: absolute;
    left: 0;
    top: 1.3rem;
    right: 0;
    margin: auto;
    img { width: 100%; height: auto;}
  }
  .main-nav
  {
    margin-top: 2.4rem;
    text-align: left;

    &.left
    {
      float: left;
    }
    &.right
    {
      float: right;
    }
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.4rem;
    }
    .responsive-menu-toggle-wrapper
    {
      display: none;
    }
    .btn
    {
      font-size: 1.4rem;
      display: block;
      padding: 0 1.2rem;
      color: $darkerColor;
      height: 3.5rem;
      line-height: 3.3rem;
      border-radius: 0.3rem;
      background-color: $thirdFontColor;
    }
    .search
    {
      text-indent: -999rem;
      background-image: url(../img/zoom-icone.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2rem 1.7rem;
      padding: 0;
      width: 3.5rem;
    }
    .add-btn
    {
      margin-left: 25px;
      font-family: $bold;
      font-size: 1.8rem;
      padding: 0 29px 0 42px;
      background-image: url(../img/pencil-picto.png);
      background-repeat: no-repeat;
      background-position: 1.2rem center;
      background-size: 2.2rem 2.2rem;
      position: relative;
      top: 0;
      @include transition(all 0.3s ease);
      &:hover
      {
        top: -.2rem;
        @include boxShadow(0 0 2rem rgba(255,255,255,0.6));
      }
    }
    .logged
    {
      padding: 0 1.5rem 0 3rem;
      background-image: url(../img/profile-icone.png);
      background-repeat: no-repeat;
      background-position: .6rem center;
      background-size: 1.7rem auto;
    }
  }

  .site-search-container
  {
    position: relative;
    width: 3.5rem;
    overflow: hidden;
    @include transition(width 0.3s ease);
    a
    {
      position: relative;
      z-index: 3;
    }
    &.show-form
    {
      width: 27rem;
    }
  }
  .site-search
  {
    input[type="text"]
    {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 2.9rem;
      width: 21rem;
      border: 0;
      font-size: 1.5rem;
      background-color: #efefef;
      border-radius: .4rem;
      padding: .7rem 1.5rem;
    }
    input[type="submit"]
    {

      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      height: 3.5rem;
      width: 3.5rem;
      font-size: 1.5rem;
      background: $lighterColor;
      border: 0;
      border-radius: 0 .4rem .4rem 0;
      color: white;
      font-family: $semiBold;
    }
  }

}