html
{
  font-size: 10px;
}
body
{
  background-color: $bgColor;
  font-family: $font;
  font-size: 1.6rem;
  position: relative;
  left: 0;
  color: $fontColor;
  @include transition(all 0.4s ease);
  &.menu-open
  {
    left: 24.5rem;
  }
}
a
{
  color: $fontColor;
}

.container
{
  @include setContainer();
}

.flash-bag-error
{
  background-color: #de3c3c;
  color: white;
  padding: 1rem;
  border-radius: .4rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn-light
{
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  display: block;
  padding: 0 1.2rem;
  height: 3.5rem;
  line-height: 3.3rem;
  border-radius: 0.3rem;
  background-color: $lighterColor;
  color: $thirdFontColor;
  font-family: $semiBold;
  &.active
  {
    background-color: $darkerColor;
  }
}

.btn-dark
{
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  display: block;
  padding: 0 1.2rem;
  height: 3rem;
  line-height: 2.8rem;
  border-radius: 0.3rem;
  background-color: $darkerColor;
  color: $thirdFontColor;
  &.active
  {
    background-color: $lighterColor;
  }
}

.btn-3d
{
  background-color: $darkerColor;
  display: inline-block;
  font-size: 1.5rem;
  color: $thirdFontColor;
  padding: 0.8rem 1.7rem;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
  border: none;
  @include boxShadow(0 .4rem 0 #003662);
  &:hover, &.active
  {
    top: .2rem;
    @include boxShadow(0 .2rem 0 #003662);
  }
}

.classic-form
{
  input[type="text"], textarea, input[type="url"]
  {
    width: 100%;
    border: 1px solid #c1c1c1;
    resize: none;
    font-size: 1.5rem;
    border-radius: .4rem;
    padding: .8rem 1.5rem;
  }
  select
  {
    border: 1px solid #c1c1c1;
    font-size: 1.5rem;
    padding: .6rem 1.5rem;
    background-color: white;
  }
  label
  {
    font-family: $semiBold;
  }
}

.post
{
  .vote-btn
  {
    border: 1px solid $darkerColor;
    font-family: $font;
    color: $darkerColor;
    font-size: 1.2rem;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .4rem;
    &:hover {
      color: $thirdFontColor;
      background: $darkerColor;
    }
  }

  .comments
  {
    color: #747474;
    font-size: 1.1rem;
    padding-left: 2.2rem;
    background-image: url(../img/bubble-icone.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.9rem auto;
    line-height: 3.5rem;
  }
}

.avatar
{
  background-image: url(../img/profile/default-avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

form
{
  .link-attach-file
  {
    color: $darkerColor;
    font-family: $semiBold;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top;
    padding-left: 3.3rem;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 2.5rem;
    &.add-pictures
    {
      background-image: url(../img/picture-icone.png);
      background-size: 2.6rem auto;
    }
    &.add-video
    {
      background-image: url(../img/video-icone.png);
      background-size: 2.6rem auto;
    }
  }
  .field-attach-file
  {
    overflow: hidden;
    ul {list-style-type: none;}
    li { margin: 1rem 0;}
    >p, >ul
    {
      margin-top: 1rem;
      padding: 1rem;
      background-color: $bgColor;
    }
    max-height: 0;
    @include transition(max-height 0.3s ease);
    &.show
    {
      max-height: 30rem;
    }
    input[type="text"]
    {
      width: 100%;
      border: 1px solid #c1c1c1;
      font-size: 1.5rem;
      border-radius: .4rem;
      padding: .8rem 1.5rem;
    }
  }
}