html
{
  font-size: 10px;
}
body
{
  background-color: $bgColor;
  font-family: $font;
  font-size: 1.6rem;
  color: $fontColor;
}
a
{
  color: $fontColor;
}

.container
{
  @include setContainer();
}