html
{
  font-size: 10px;
}
body
{
  background-color: $bgColor;
  font-family: $font;
  font-size: 1.6rem;
  color: $fontColor;
}
a
{
  color: $fontColor;
}

.container
{
  @include setContainer();
}

.pop-up-wrapper
{
  display: none;
  &.visible
  {
    display: block;
  }
}


.popup-arrow
{
  display: block;
  position: absolute;
  width: 3.2rem;
  height: 1.6rem;
  background-image: url(../img/arrowtop-login.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 6;
  background-size: 100%;

}
