*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
html, body, header, section, footer, aside, article, h1, h2, h3, h4, h5, h6,
div, p, a, span, ul, ol, li, table, td, tr, th, thead, tbody, iframe
{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}
a
{
  color: black;
  text-decoration: none;
}
input, textarea, select
{
  font-family: inherit;
}
input[type="submit"]
{
  -webkit-appearance: none;
}