yeomi_post_index:
    path:     /
    defaults: { _controller: YeomiPostBundle:Main:index }

yeomi_post_add_post:
    path:     /add/{type}
    defaults: { _controller: YeomiPostBundle:Main:addPost }

yeomi_post_edit_post:
    path:     /edit/post/{id}
    defaults: { _controller: YeomiPostBundle:Main:edit }

yeomi_post_delete_post:
    path:     /delete/post/{id}
    defaults: { _controller: YeomiPostBundle:Main:delete }

yeomi_post_add_category:
    path:     /add/category
    defaults: { _controller: YeomiPostBundle:Main:addCategory }

yeomi_post_view:
    path:     /all/post
    defaults: { _controller: YeomiPostBundle:Main:view }

yeomi_post_view_full:
    path:     /post/{id}
    defaults: { _controller: YeomiPostBundle:Main:viewFull }
    requirements:
        id: \d+