<nav class="category-nav">
    <a href="" class="close"></a>
    <ul>
        <li><a href="{{ path("yeomi_post_index")}}">Accueil</a></li>
        {% for category in categories %}
            <li><a href="{{ path("yeomi_post_view_category", {"slug": category.slug}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</nav>